doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div(class='nav')
      ul 
        li 
          a(href="/") Home 
        li
          a(href="/vehicles") Vehicles 
        li 
          a(href="/vehicles/compare") Compare vehicles
    block content
