extends layout 

block content 
    h1=title
        ul 
            each airplane in airplanes 
                li 
                    p #{airplane.name}
                    | #{airplane.turn_time_RB_upgraded}
